<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <!-- CSS only -->
    <link
            rel="shortcut icon"
            href="../META-INF/resources/favicon.ico"
            type="image/x-icon"
    />
    <link
            rel="icon"
            href="../META-INF/resources/icons8-coffee-64.png"
            type="image/x-icon"
    />
    <title>About</title>
</head>

<body class="container">
<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Coffee Management App ☕</a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li class="nav-item">
                            <a class="nav-link active text-center" aria-current="page" th:href="@{/}"
                            >Home</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/stores}"
                            >Stores</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/employees}"
                            >Employees</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/equipment}"
                            >Equipment</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/vehicles}"
                            >Vehicles</a
                            >
                        </li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a
                            class="nav-link active"
                            aria-current="page"
                            th:href="@{/logout}"
                    >Logout</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<br/>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h2 class="display-4">Coffee Franchise Management System</h2>

        <p class="lead">
            Learn more about what service this app can offer
            <mark class="text-muted">YOU</mark>
            and your business!
        </p>
        <hr class="my-4"/>
        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="card" style="margin: 20px;">
                        <img class="card-img-top" th:src="@{/img/coffee1.jpg}" alt="espresso machine">
                        <div class="card-body">
                            <p class="card-text">
                                Provides a management system so that I can manage my stores, employees, equipment, and
                                vehicles all from one application.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card" style="margin: 20px;">
                        <img class="card-img-top" th:src="@{/img/coffee2.jpg}" alt="espresso beans">
                        <div class="card-body">
                            <p class="card-text">
                                Displays all my information for employees, stores, equipment, and vehicles to make sure
                                info is accurate and up to date.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="margin: 20px;">
                        <img class="card-img-top" th:src="@{/img/coffee3.jpg}" alt="store front">
                        <div class="card-body">
                            <p class="card-text">
                                Secure login ensures that only manager level employees have access to this application
                                and information.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card" style="margin: 20px;">
                        <img class="card-img-top" th:src="@{/img/ladiessitting.jpg}" alt="customers sitting">
                        <div class="card-body">
                            <p class="card-text">
                                Let's you focus on what's really important, providing top-notch service to customers AND
                                crafting perfect coffee everytime.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
></script>
<script type="text/javascript" th:src="@{/js/about.js}"></script>
</body>
</html>