<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <!-- CSS only -->
    <link
            rel="shortcut icon"
            href="../META-INF/resources/favicon.ico"
            type="image/x-icon"
    />
    <link
            rel="icon"
            href="../META-INF/resources/icons8-coffee-64.png"
            type="image/x-icon"
    />
    <title>Home</title>
</head>

<body class="container">
<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Coffee Management App ☕</a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li class="nav-item">
                            <a class="nav-link active text-center" aria-current="page" th:href="@{/}"
                            >Home</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/stores}"
                            >Stores</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/employees}"
                            >Employees</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/equipment}"
                            >Equipment</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/vehicles}"
                            >Vehicles</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li class="nav-item">
                            <a class="nav-link text-center" th:href="@{/about}"
                            >About</a
                            >
                        </li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a
                            class="nav-link active"
                            aria-current="page"
                            th:href="@{/logout}"
                    >Logout</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<br/>


<div>
    <p class="display-6 text-center">Employees List</p>
    <p class="text-center">
        Logged in as:
        <span class="font-italic" sec:authentication="principal.username"
        >User</span
        >
    </p>
    <p class="lead text-left">
        <a class="btn btn-primary btn-md text-center" th:href="@{/api/newEmployeeForm}" role="button"
        >Add New Employee</a
        >
    </p>
    <hr class="my-6"/>


    <table class="table table-striped">
        <thead scope="row">
        <tr class="text-center">
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">EDIT</th>
        </tr>

        </thead>
        <tbody class="text-center">
        <tr class="text-center" scope="row" th:each="employee : ${listEmployees}">
            <td th:text="${employee.firstName + ' ' + employee.lastName}"></td>
            <td th:text="${employee.email}" class="small"></td>
            <td class="text-center">
                <a th:href="@{/api/showFormForUpdate/{id}(id=${employee.id})}"
                   class="btn btn-primary btn-sm text-center">🔃 Update </a>
                <a th:href="@{/api/deleteEmployee/{id}(id=${employee.id})}"
                   class="btn btn-danger btn-sm text-center">❌ Delete </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
</script>
</body>
</html>