<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />
    <title>Login</title>
</head>

<body class="container">
<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Coffee Management App ☕</a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li class="nav-item">
                            <a class="nav-link active text-center" aria-current="page" th:href="@{/}"
                            >Home</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/stores}"
                            >Stores</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/employees}"
                            >Employees</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/equipment}"
                            >Equipment</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/vehicles}"
                            >Vehicles</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li class="nav-item">
                            <a class="nav-link text-center" th:href="@{/about}"
                            >About</a
                            >
                        </li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a
                            class="nav-link active"
                            aria-current="page"
                            th:href="@{/logout}"
                    >Logout</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<br/>


<div class="container">
    <div class="row">

        <div class="col-sm">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4 text-center">Welcome!</h1>
                    <p class="lead text-center">
                        Please <small class="text-muted">login</small> or
                        <small class="text-muted">sign up</small> to get access to the
                        management application.
                    </p>
                </div>
            </div>
        </div>

        <hr/>

        <div class="col-sm"></div>

        <div>

            <h3 class="display-6 text-center">Login</h3>
            <form th:action="@{/login}" method="post">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or
                        password.
                    </div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>


                <div class="form-group">
                    <label for="username"> Username </label> :
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Enter Email..." autofocus="autofocus">
                </div>
                <br/>
                <div class="form-group">
                    <label for="password">Password</label>: <input type="password"
                                                                   id="password" name="password" class="form-control"
                                                                   placeholder="Enter Password..."/>
                </div>
                <br/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Log In"/>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="form-group">
                <span>New user? <a href="/" th:href="@{/registration}">Register here!</a></span>
                <br>
                <br>
                <span>Want to learn more? <a href="/" th:href="@{/about}">Click here!</a></span>
            </div>
        </div>
    </div>
</div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
></script>
</body>
</html>