<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />
    <title>Login</title>
</head>

<body class="container">
<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Coffee Management App ☕</a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}"
                    >Home</a
                    >
                </li>

                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/stores}"
                            >Stores</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/api/employees}"
                            >Employees</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/equipment}"
                            >Equipment</a
                            >
                        </li>

                        <hr class="dropdown-divider"/>

                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link text-center" th:href="@{/vehicles}"
                            >Vehicles</a
                            >
                        </li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a
                            class="nav-link active"
                            aria-current="page"
                            th:href="@{/logout}"
                    >Logout</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<br/>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-sm">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">Registration Successful!</div>
            </div>

            <h2 class="display-4 text-center">Registration</h2>
            <hr/>

            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstName"> First Name </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}"
                           required autofocus="autofocus"/>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label" for="lastName"> Last Name </label> <input
                        id="lastName" class="form-control" th:field="*{lastName}"
                        required autofocus="autofocus"/>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label" for="email"> Email </label> <input
                        id="email" class="form-control" th:field="*{email}" required
                        autofocus="autofocus"/>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label" for="password"> Password </label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}" required autofocus="autofocus"/>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
></script>
</body>
</html>